<div id="sidebar" class="sidebar responsive sidebar-fixed">
    <div style="position:relative">
        <div class="nav-wrap">
            <div style="position: relative; top: 0px; transition-property: top; transition-duration: 0.2s;">
                <ul class="nav nav-list">
                    {{$menu := menu .Uri .RoleId .AdminId}}
                    <li>
                        <a href="{{urlfor "IndexController.Index"}}">
                            <i class="menu-icon fa fa-tachometer"></i>
                            <span class="menu-text"> 首页 </span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                    {{range $v := $menu.data}}
                        {{if compare $v.Pid 0}}
                        <li {{if compare $v.Url $menu.first}}class="active open"{{end}}><!--open代表打开状态-->
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa {{$v.Css}}"></i>
                                <span class="menu-text">{{$v.Name}}</span>
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                            {{range $vv := $menu.data}}
                                {{if compare $vv.Pid $v.Id}}
                                <li {{if compare $vv.Url $menu.second}}class="active"{{end}}>
                                <a href="/{{config "String" "backendUri" "admin"}}/{{$vv.Url}}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {{$vv.Name}}
                                </a>
                                <b class="arrow"></b>
                                </li>
                                {{end}}
                            {{end}}
                            </ul>
                        </li>
                        {{end}}
                    {{end}}
                </ul>
                <!-- #section:basics/sidebar.layout.minimize -->
                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
                       data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>
            </div>
        </div>
    </div>

</div>