{{template "admin/common/header.html" .}}
<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
    <!-- #section:basics/sidebar -->
    {{template "admin/common/left.html"}}
    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <!--主题-->
                <div class="page-header">
                    <h1>
                        您当前操作
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            修改菜单
                        </small>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" method="post">
                            {{.Xsrftoken}}
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right">父级</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <select name="pid"  class="col-sm-3">
                                            <option value="0">--默认顶级--</option>
                                            {{range .Menus}}
                                            <option value="{{.model.Id}}" style="margin-left:55px;" {{if compare .model.Id $.Data.Pid}} selected {{end}}>{{.leftHtml}}{{.name}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right">用户名</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <input type="text" name="name" value="{{.Data.Name}}" class="col-xs-10 col-sm-6" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right">路径</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <input type="text" name="url" value="{{.Data.Url}}" class="col-xs-10 col-sm-6"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right">css</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <input type="text" name="css" value="{{.Data.Css}}" class="col-xs-10 col-sm-6"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right">排序</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <input type="number" name="sort" value="{{.Data.Sort}}" class="col-xs-10 col-sm-1"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right">状态</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input name="status" value="1" type="radio" class="ace"{{if compare .Data.Status 1}}checked {{end}}>
                                            <span class="lbl"> 显示 </span>
                                        </label>
                                        <label>
                                            <input name="status" value="0" type="radio" class="ace"{{if compare .Data.Status 0}}checked {{end}}>
                                            <span class="lbl"> 隐藏 </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{template "admin/common/footer.html"}}
</div><!-- /.main-container -->
<script type="text/javascript">
    $(function(){
        $('form').validate({
            //debug: 'true',
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: true,
            rules: {
                name: {required: true},
                url: {required: true},
            },

            messages: {
            },


            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if(element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if(element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element.parent());
            },

            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    beforeSubmit: function(){
                        wait = layer.load(2);
                    },
                    complete:function(){
                        layer.close(wait);
                    },
                    success: function(data){
                        if(data.errcode == 0){
                            layer.msg(data.msg, {icon:6,time:2000}, function(index){
                                layer.close(index);
                            });
                        }else{
                            layer.msg(data.msg, {icon:5,time:3000}, function(index){
                                layer.close(index);
                            });
                        }
                    },
                    error: function(responseText, statusText){
                        if(statusText=='timeout'){
                            layer.alert("请求超时");
                        }else{
                            layer.alert(statusText);
                        }
                    },
                    timeout: 10000,
                    dataType: 'json'
                });
            }
        });
    });
</script>
</body>
</html>